.btn {
  font-size: 2rem;
  color: $color-black-secondary;
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s;
  display: inline-block;
  font-weight: 500;
  &--primary {
    padding: 1rem 2.2rem;
    border: 0.2rem solid #ffe31d;
    border-radius: 0.2rem;

    &:hover {
      color: $color-black-primary;
      transform: translateY(-0.2rem);
      background-color: #ffe31d;
      box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    }
  }

  &--tertiary {
    border-bottom: 1.5px solid rgb(110, 110, 110);
  }
}

.section__h2 {
  font-size: 4rem;
  margin-bottom: 5rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
