.contact {
  display: flex;
  background-color: #eee;

  justify-content: center;
  padding: 7rem 4rem;
  padding-top: 11rem;
  &__paragraph {
    font-size: 2rem;
    width: 17rem;
  }
  &__h3 {
    font-size: 3.5rem;
    color: $color-black-primary;
    // margin-right: 1.5rem;
    width: 17rem;
  }
  &__container {
    margin-left: 10rem;
    margin-top: 3rem;
    ul {
      margin-top: 1.2rem;
    }
  }
  &__li {
    margin-bottom: 0.4rem;
    width: 17rem;
    list-style: none;
  }
  &__link {
    font-size: 2rem;
    color: $color-black-primary;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
      color: #ff217c;
    }
  }
}
