.header {
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to top left, #1f1a33, #27203b);
  height: 100vh;
  text-shadow: 0 0.1rem 0.4rem rgba(#000, 0.45);
  &__nav {
    padding: 2rem;
    display: flex;
    position: absolute;
    top: 1rem;
    transform: translateX(-50%);
    left: 50%;
    z-index: 100;
  }
  &__svgs {
    transform: translateY(-100rem);
  }
  &__planet {
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    &--red {
      height: 74rem;
      top: 5rem;
      right: 15rem;
    }

    &--green {
      height: 57rem;
      top: -14rem;
      right: 57rem;
    }

    &--blue {
      height: 54rem;
      top: 20rem;
      right: 65rem;
    }
    &--orange {
      height: 55rem;
      top: 54rem;
      right: 58rem;
    }
    &--moon {
      height: 55rem;
      top: -13rem;
      right: -5rem;
    }
    &--yellow {
      height: 45rem;
      top: 60rem;
      right: -10rem;
    }
    &--bluecircle {
      height: 50rem;
      top: 25rem;
      right: -11rem;
    }

    &--stars {
      width: 95%;
      top: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
  &__ul {
    display: flex;
  }
  &__li {
    list-style: none;
  }
  &__link {
    color: $color-black-primary;
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    padding-right: 1.8rem;
  }
  &__center {
    height: 100vh;
    z-index: 100;
    position: relative;
  }

  &__main {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(#fff, 0.08);
    backdrop-filter: blur(0.35rem);
    border-radius: 1.4rem;
    width: max-content;
    height: 36rem;
    padding: 4rem;
    @include respond(small) {
      margin: 2rem;
    }
  }

  &__h2 {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 600;
    color: #eee;
    letter-spacing: 0.1rem;
  }

  &__h3 {
    padding: 0;
    font-size: 2.2rem;
    font-weight: normal;
    color: #eee;
  }

  &__paragraph {
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    margin: 1rem 0 3rem 0;
    transition: opacity 0.3s;
    max-width: 50rem;
    color: rgb(225, 225, 225);

    &--hidden {
      position: absolute;
      font-weight: 500;
      font-size: 2.5rem;
      margin-top: 5rem;
      opacity: 0;
      visibility: hidden;
      bottom: -0.5rem;
      right: 15rem;
    }

    span {
      margin-left: 0.6rem;
      font-size: 2.8rem;
    }
  }

  &__text {
    font-size: 2.2rem;
    font-weight: 600;
    color: #eee;
    letter-spacing: 0.1rem;
  }

  &__margin-r {
    margin-right: 2rem;
  }
}
