.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5rem;

  @include respond(medium) {
    margin: 0 3rem;
  }
  &__container {
    display: flex;
    height: 25rem;
    max-width: 110rem;
    border-radius: 0.4rem;
    border: $border-white;
    margin-bottom: 5rem;
    transition: 0.15s;
    height: 35rem;
    &:hover {
      border: $border-white-hover;
    }
    @include respond(medium) {
      flex-direction: column;
      height: max-content;
      max-width: max-content;
    }
  }

  &__icon {
    transform: translateY(0.5rem);
    transition: 0.3s;
    color: $color-black-primary;
  }
  &__btn {
    margin-top: auto;
    align-self: end;
    margin-bottom: 0.5rem;
    transition: 0.3s;
    &:hover {
      .work__icon {
        transform: translate(0.5rem, 0.5rem);
      }
    }

    @include respond(medium) {
      margin-top: 2.8rem;
    }
  }
  &__main {
    border-radius: 0.4rem;
    padding: 1.2rem 2rem;
    display: flex;
    flex-direction: column;
    @include respond(medium) {
      padding: 2rem;
    }
  }
  &__h3 {
    font-size: 2rem;
  }
  &__paragraph {
    font-size: 1.7rem;
  }
  &__img {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    // height: 100%;
    max-width: 50rem;
    object-fit: cover;
    object-position: top;
    @include respond(medium) {
      height: 28rem;
      max-width: 100%;
    }
  }
}
