*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "same-reg", sans-serif;
  color: #282828;
  font-weight: 400;
  line-height: 1.4; }

@font-face {
  font-family: "same-med";
  src: url("../../font/Gilroy-Medium.woff") format("woff"), url("../../font/Gilroy-Regular.woff") format("woff"), url("../../font/Gilroy-Semibold.woff") format("woff"), url("../../font/Gilroy-Heavy.woff") format("woff"), url("../../font/Gilroy-Light.woff") format("woff"); }

@font-face {
  font-family: "same-reg";
  src: url("../../font/Gilroy-Regular.woff") format("woff"); }

@font-face {
  font-family: "same-semi";
  src: url("../../font/Gilroy-Semibold.woff") format("woff"); }

.btn {
  font-size: 2rem;
  color: #2a2a2a;
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s;
  display: inline-block;
  font-weight: 500; }
  .btn--primary {
    padding: 1rem 2.2rem;
    border: 0.2rem solid #ffe31d;
    border-radius: 0.2rem; }
    .btn--primary:hover {
      color: #282828;
      transform: translateY(-0.2rem);
      background-color: #ffe31d;
      box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1); }
  .btn--tertiary {
    border-bottom: 1.5px solid #6e6e6e; }

.header {
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to top left, #1f1a32, #28213b);
  height: 100vh;
  text-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.7); }
  @media (max-width: 76.5625em) {
    .header {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .header__nav {
    padding: 2rem;
    display: flex;
    position: absolute;
    top: 1rem;
    transform: translateX(-50%);
    left: 50%;
    z-index: 100; }
  .header__svgs {
    transform: translateY(-100rem);
    width: 100%; }
  .header__planet {
    position: absolute;
    overflow: hidden; }
    .header__planet--red {
      height: 74rem;
      top: 10rem;
      right: 26rem; }
      @media (max-width: 76.5625em) {
        .header__planet--red {
          top: 11rem;
          left: -22rem;
          height: 56rem; } }
    .header__planet--green {
      height: 55rem;
      top: -10rem;
      left: -4rem; }
      @media (max-width: 76.5625em) {
        .header__planet--green {
          top: 110rem;
          left: 5rem; } }
    .header__planet--blue {
      height: 57rem;
      top: -10rem;
      left: 60rem; }
      @media (max-width: 90.625em) {
        .header__planet--blue {
          left: 40rem; } }
      @media (max-width: 76.5625em) {
        .header__planet--blue {
          left: 35%;
          top: 134rem; } }
    .header__planet--orange {
      height: 43rem;
      top: 52rem;
      left: 15rem; }
      @media (max-width: 76.5625em) {
        .header__planet--orange {
          left: 53%;
          top: 66rem;
          height: 40rem; } }
    .header__planet--moon {
      height: 55rem;
      top: -13rem;
      right: 0rem; }
    .header__planet--yellow {
      height: 49rem;
      top: 63rem;
      right: 50rem; }
      @media (max-width: 90.625em) {
        .header__planet--yellow {
          right: 30rem; } }
      @media (max-width: 76.5625em) {
        .header__planet--yellow {
          left: -4rem;
          top: 74rem;
          height: 35rem; } }
    .header__planet--bluecircle {
      height: 52rem;
      top: 38rem;
      right: -6rem; }
      @media (max-width: 76.5625em) {
        .header__planet--bluecircle {
          height: 40rem;
          left: 55%;
          top: 18rem; } }
    .header__planet--stars {
      width: 115%;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%; }
      @media (max-width: 76.5625em) {
        .header__planet--stars {
          width: auto;
          height: 100%; } }
  .header__ul {
    display: flex; }
  .header__li {
    list-style: none; }
  .header__link {
    color: #282828;
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    padding-right: 1.8rem; }
  .header__center {
    height: 100vh;
    z-index: 100;
    position: relative; }
    @media (max-width: 76.5625em) {
      .header__center {
        height: auto; } }
  .header__main {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 29%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(0.35rem);
    border-radius: 1.4rem;
    width: max-content;
    height: 36rem;
    padding: 4rem; }
    @media (max-width: 76.5625em) {
      .header__main {
        position: static;
        margin: 23rem 2rem 10rem 2rem;
        width: auto;
        height: auto; } }
  .header__h2 {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: normal;
    font-family: "same-med", sans-serif;
    color: #eee;
    letter-spacing: 0.1rem; }
  .header__h3 {
    padding: 0;
    font-size: 2.2rem;
    font-weight: normal;
    color: #d1d1d1; }
  .header__paragraph {
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    margin: 1rem 0 3rem 0;
    transition: opacity 0.3s;
    max-width: 50rem;
    color: gainsboro; }
    .header__paragraph--hidden {
      position: absolute;
      font-family: "same-med", sans-serif;
      font-size: 2.5rem;
      margin-top: 5rem;
      opacity: 0;
      bottom: -0.5rem;
      right: 15rem; }
    .header__paragraph span {
      margin-left: 0.6rem;
      font-size: 2.8rem; }
  .header__text {
    font-size: 2.2rem;
    font-family: "same-med", sans-serif;
    color: #d7d7d7; }
  .header__margin-r {
    margin-right: 2rem; }

.skills {
  z-index: 101;
  position: relative;
  left: 50%; }
  @media (max-width: 90.625em) {
    .skills {
      left: 55%; } }
  @media (max-width: 76.5625em) {
    .skills {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: static;
      margin: 0 2rem 12rem 2rem; } }
  .skills__hidden {
    font-size: 3.3rem;
    margin: 5rem 0 2rem 0;
    text-align: center;
    letter-spacing: 0.1rem;
    font-family: "same-med", sans-serif;
    color: #fff;
    display: none;
    font-weight: normal; }
    @media (max-width: 76.5625em) {
      .skills__hidden {
        display: block; } }
  .skills__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem 3.5rem 2rem;
    margin: 0 5rem;
    font-family: "same-med", sans-serif;
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(0.35rem);
    border-radius: 1.4rem;
    margin-bottom: 4rem;
    max-width: 50rem; }
    @media (max-width: 90.625em) {
      .skills__main {
        width: 100%;
        max-width: 49rem; } }
  .skills__img {
    height: 7rem;
    margin-top: 2rem; }
    .skills__img:not(:last-child) {
      margin-right: 3rem; }
  .skills__h3 {
    font-size: 2.4rem;
    color: #fff;
    font-family: "same-med", sans-serif;
    font-weight: normal;
    color: #eee; }
  .skills__list {
    list-style: none;
    margin-left: 1.4rem; }
  .skills__li {
    font-size: 1.7rem; }

.work {
  background-color: #eee;
  padding: 7rem 0 6rem 0;
  position: relative;
  min-height: 80rem; }
  @media (max-width: 90.625em) {
    .work {
      padding: 7rem 3rem 6rem 3rem; } }
  .work__main {
    position: absolute;
    width: 100%; }
  .work__main-mob {
    margin-bottom: 6rem; }
  .work__hidden {
    position: absolute;
    left: 9%;
    top: 22.5rem; }
  .work__container {
    display: none; }
    @media (hover: hover) and (min-width: 76.5625em) {
      .work__container {
        display: flex; } }
  .work__container-mob {
    flex-direction: column;
    align-items: center;
    display: flex; }
    @media (hover: hover) and (min-width: 76.5625em) {
      .work__container-mob {
        display: none; } }
  .work__btn {
    margin-top: 2rem;
    font-size: 2.2rem;
    font-family: "same-med", sans-serif;
    color: #282828;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: max-content;
    background-color: #ddd;
    border-radius: 0.5rem;
    padding: 1rem 2rem; }
    .work__btn span {
      margin-left: 0.35rem; }
  .work__left {
    width: 100%;
    max-width: 70rem;
    min-width: 65rem;
    z-index: 5;
    position: relative;
    margin-right: 9rem;
    margin-left: 6%;
    margin-left: 8%; }
    @media (max-width: 90.625em) {
      .work__left {
        margin-right: 6rem;
        margin-left: 3%; } }
  .work__right {
    width: 100%;
    max-width: 60rem;
    margin-top: 15rem;
    z-index: 20; }
  .work__h3 {
    font-size: 3rem;
    font-family: "same-semi", sans-serif;
    color: #2a2a2a;
    font-weight: normal;
    margin-bottom: 0.5rem; }
    .work__h3--margin {
      margin-bottom: 1.2rem; }
  .work__paragraph {
    font-size: 2.5rem;
    max-width: 75rem;
    color: #212121;
    font-weight: normal;
    margin-bottom: 5rem; }
  .work__img {
    height: 55rem;
    min-width: auto;
    width: 100%;
    max-width: 65rem;
    object-fit: cover;
    object-position: top;
    width: 100%; }
    @media (hover: hover) and (min-width: 76.5625em) {
      .work__img {
        max-width: 75rem; } }
  .work__link {
    font-size: 3rem;
    text-decoration: none;
    display: block;
    font-weight: 600;
    color: #2a2a2a;
    font-family: "same-semi", sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #d1d1d1;
    padding: 1.7rem 0 1rem 1.5rem;
    max-width: 90%;
    transition: 0.25s;
    position: relative;
    cursor: pointer; }
    @media (max-width: 90.625em) {
      .work__link {
        max-width: 100%; } }
    .work__link:hover {
      background-color: #e6e6e6; }
  .work__icon {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    right: 1.5rem;
    display: block;
    visibility: hidden; }

.contact {
  display: flex;
  background-color: #eee;
  justify-content: center;
  padding: 7rem 4rem;
  padding-top: 11rem; }
  @media (max-width: 31.25em) {
    .contact {
      flex-direction: column;
      align-items: center; } }
  .contact__paragraph {
    font-size: 2rem;
    width: 17rem;
    font-family: "same-med", sans-serif; }
  .contact__h3 {
    font-size: 3.5rem;
    font-family: "same-reg", sans-serif;
    color: #282828;
    width: 17rem; }
  .contact__container {
    margin-left: 10rem;
    margin-top: 3rem; }
    .contact__container ul {
      margin-top: 1.2rem; }
    @media (max-width: 31.25em) {
      .contact__container {
        margin-left: 0; } }
  .contact__li {
    margin-bottom: 0.4rem;
    width: 17rem;
    list-style: none; }
  .contact__link {
    font-size: 2rem;
    color: #282828;
    font-family: "same-med", sans-serif;
    text-decoration: none;
    transition: 0.2s; }
    .contact__link:hover {
      color: #ff217c; }
