*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #373737;
  font-weight: 400;
  line-height: 1.6; }

.btn {
  font-size: 1.6rem;
  color: #373737;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
  display: inline-block;
  font-weight: 600; }
  .btn--primary {
    padding: 1rem 2.2rem;
    border: 0.1rem solid #ebebeb;
    border-radius: 0.4rem; }
    .btn--primary:hover {
      color: #373737;
      transform: translateY(-0.2rem);
      background-color: #fff;
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.06); }
  .btn--tertiary {
    border-bottom: 1.5px solid #6e6e6e; }

.section__h2 {
  font-size: 2rem;
  margin-bottom: 4rem;
  text-align: center; }

.header__nav {
  padding: 2rem;
  display: flex;
  position: absolute;
  top: 1rem;
  transform: translateX(-50%);
  left: 50%;
  z-index: 100; }

.header__ul {
  display: flex; }

.header__li {
  list-style: none; }

.header__link {
  color: #373737;
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
  padding-right: 1.8rem; }

.header__center {
  height: 100vh;
  position: relative; }

.header__main {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: max-content;
  position: relative;
  top: 50%;
  left: 50%;
  height: 30rem;
  z-index: 2;
  transform: translate(-50%, -50%);
  padding: 4.3rem 3rem;
  border: 0.1rem solid #ebebeb;
  border-radius: 0.4rem;
  background-color: #fff;
  transition: box-shadow 0.2s; }
  .header__main:hover {
    box-shadow: 0 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.07), 0 0.4rem 1rem 0.2rem rgba(0, 0, 0, 0.02); }
  @media (max-width: 31.25em) {
    .header__main {
      margin: 2rem; } }

.header__h2 {
  display: inline-block;
  font-size: 2.6rem; }

.header__h3 {
  padding: 0;
  font-size: 1.9rem;
  font-weight: normal; }

.header__paragraph {
  font-size: 1.8rem;
  margin: 1rem 0 3rem 0;
  transition: 0.3s; }
  .header__paragraph--hidden {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 5rem;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10rem); }

.header__margin-r {
  margin-right: 2rem; }

.skills {
  margin-left: 25%;
  position: relative; }
  @media (max-width: 90.625em) {
    .skills {
      margin-left: 45%; } }
  @media (max-width: 76.5625em) {
    .skills {
      margin: 0 2rem 16rem 2rem; } }
  .skills__hidden {
    display: none; }
    @media (max-width: 76.5625em) {
      .skills__hidden {
        display: block; } }
  .skills__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    max-width: 50rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #ebebeb;
    transition: box-shadow 0.2s; }
    @media (max-width: 31.25em) {
      .skills__main {
        height: auto; } }
    .skills__main:hover {
      box-shadow: 0 0.3rem 0.5rem 0rem rgba(0, 0, 0, 0.05), 0 0.4rem 1rem 0.2rem rgba(0, 0, 0, 0.04); }
  .skills__img {
    height: 7rem;
    margin-top: 2rem; }
    .skills__img:not(:last-child) {
      margin-right: 2rem; }
    @media (max-width: 31.25em) {
      .skills__img {
        display: block; } }
  .skills__h3 {
    font-size: 2.2rem; }
  .skills__list {
    list-style: none;
    margin-left: 1.4rem; }
  .skills__li {
    font-size: 1.7rem; }

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5rem; }
  @media (max-width: 76.5625em) {
    .work {
      margin: 0 3rem; } }
  .work__container {
    display: flex;
    height: 25rem;
    max-width: 110rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #ebebeb;
    margin-bottom: 5rem;
    transition: 0.15s;
    height: 35rem; }
    .work__container:hover {
      border: 0.1rem solid #d7d7d7; }
    @media (max-width: 76.5625em) {
      .work__container {
        flex-direction: column;
        height: max-content;
        max-width: max-content; } }
  .work__icon {
    transform: translateY(0.5rem);
    transition: 0.3s;
    color: #373737; }
  .work__btn {
    margin-top: auto;
    align-self: end;
    margin-bottom: 0.5rem;
    transition: 0.3s; }
    .work__btn:hover .work__icon {
      transform: translate(0.5rem, 0.5rem); }
    @media (max-width: 76.5625em) {
      .work__btn {
        margin-top: 2.8rem; } }
  .work__main {
    border-radius: 0.4rem;
    padding: 1.2rem 2rem;
    display: flex;
    flex-direction: column; }
    @media (max-width: 76.5625em) {
      .work__main {
        padding: 2rem; } }
  .work__h3 {
    font-size: 2rem; }
  .work__paragraph {
    font-size: 1.7rem; }
  .work__img {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    max-width: 50rem;
    object-fit: cover;
    object-position: top; }
    @media (max-width: 76.5625em) {
      .work__img {
        height: 28rem;
        max-width: 100%; } }

.contact {
  margin-top: 5rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 4rem;
  border-top: 0.1rem solid #ebebeb; }
  .contact__h3 {
    font-size: 2rem;
    color: #373737;
    margin-bottom: 1rem; }
  .contact__icon {
    height: 4rem;
    margin-right: 2rem;
    fill: #373737; }
    .contact__icon:hover {
      fill: red; }
